<div class="jumbotron text-center">
 	<h1>Welcome to Study Buddy</h1>
	<%= link_to "FIND CLASSES", "#", class: "btn-trans", role: "button" %>
	<%= link_to "FIND ASSIGNMENTS", "#", class: "btn-trans", role: "button" %>
</div>

<div class="container">
	<div class="row text-center">
		<div class="col-md-6">
			<h1>How it works</h1>
			<p><strong>It's simple!</strong> <%= link_to "Sign up", signup_path %> for an account then post an assignment you want a study buddy for.</p>
		</div>
		<div class="col-md-6">
			<h1>Who can use it?</h1>
			<p><strong>Anyone!</strong> You don't even need to be an IU student, you just need to <%= link_to "sign up", signup_path %> for a free account.</p>
		</div>
	</div>
</div>

