<div class="jumbotron text-center">
  <h1>Welcome to Study Buddy</h1>
</div>

<div class="container">
	<div class="row text-center">
		<div class="col-md-6">
			<h1>How it works</h1>
			<p><strong>It's simple!</strong> <%= link_to "Sign up", "#" %> for an account then post an assignment you want a study buddy for.</p>
		</div>
		<div class="col-md-6">
			<h1>Who can use it?</h1>
			<p><strong>Anyone!</strong> You don't even need to be an IU student, you just need to <%= link_to "Sign up", "#" %> for an account</p>
		</div>
	</div>
</div>

