<div class="jumbotron text-center">
  <h2><%= @user.name %></h2>
</div>



<div class="container">
  <h3>Posted Asignments (<%= @user.assignments.count %>)</h3>
  
  <% @paginate_assignments.each do |assignment| %>
    <%= link_to assignment.title, assignment %>
  <% end %>
</div>
